{% extends "base.html" %} 
{% load static %}

    {% block css %}
        <!-- icons-link -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'jQuery/lips/owlcarousel2/assets/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'jQuery/lips/owlcarousel2/assets/owl.theme.default.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
        <!-- style-link -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
    
    {% block bodycontent %}


		<section class="content">


            {% block bodyreset %}
            
            {% endblock bodyreset %}


		</section>

		<style>
			.content__body {
				/* min-height: 90vh;*/
				max-width: calc(100% - 20vw);
				margin: 70px auto 20px;
			}
			.content__text--pay {
				font-family: Roboto;
				font-size: 20px;
				line-height: 124.9%;
				color: #0565BD;
			}
			.payForm__input {
				margin: 80px 0px 50px 0px;
				background: #FFFFFF;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
				border-radius: 8px;
				font-size: 16px;
				width: 300px;
				padding: 12px 20px;
			}
			.payForm__btn {
				text-transform: uppercase;
				padding: 10px 35px;
				background: #05E600;
				box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
				border-radius: 86px;
				color: #fff;
				font-size: 16px;
				transition: all ease-in .3s;
			}
			.payForm__btn:hover {
				background: #049e01;
			}
			
		</style>

    {% endblock bodycontent %}

    {% block js %} 

        <!--jQuery-->
        <script src="{% static 'jQuery/jquery.min.js' %}"></script>
        <script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
        <script src="{% static 'jQuery/jQuery.js' %}"></script>

        <script src="{% static 'js/swiper.min.js' %}"></script>
        <!--/jQuery-->
        <script src="{% static 'js/main.js' %}"></script>
    
    {% endblock js %}

