{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

	{% block css %}
	<!-- icons-link -->
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style2.css' %}">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% endblock css %}

	{% block title %}
	  <title>{% trans 'Parolni tiklash' %}</title>
	{% endblock title %}

	{% block bodycontent %}

		<section class="content">

			<!-- Navbar -->
			{% include 'includes/navbar.html' %}
			<!-- end Navbar -->

		</section>
        <div class="payForm__body-2">
				<h2>{% trans 'Yangi parolni kiriting va tasdiqlang!' %}</h2>
                {% if validlink %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="verification">
                            {{ form.as_p }}
                        </div>

                        <button type="submit" class="payForm__btn">OK</button>
                    </form>
                {% else %}
                    <p stry='color: red'>{% trans "Token xato"}</p>
                    <p>
                        <a href="{% url 'User:password_reset' %}">{% trans "Yangi token olish" %}</a>
                    </p>
                {% endif %}
			</div>

		<style>
            input {
                padding: 5px 2px 5px 10px;
                font-size: 18px;
                outline: none;
                border: 1px solid silver;
                border-radius: 8px;
                margin: 30px 0;
            }

            .verification {
                display: flex;
                flex-direction: column;
                margin: 50px 0;
            }
            .wrapp {
                margin-top: 30px;
                border: 1px solid #777;
                border-radius: 3px;
                width: 270px;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.251);
            }
            .fa {
                color: #43A049;
                font-size: 20px;
                padding: 8px;
                margin-left: -4px;
                cursor: pointer;
            }

            .payForm__body-2 {
                margin: 70px auto 0;
                width: calc(100% - 20vw);
                max-width: 1366px;
            }

            .footer {
                margin-top: 80px;
            }
            button .btn {
                padding: 13px 35px;

                text-transform: uppercase;
                text-align: center;
                background: #05E600;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                transition: all ease-in .3s;
            }
            .payForm__btn {
				text-transform: uppercase;
				padding: 10px 35px;
				background: #05E600;
				box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
				border-radius: 86px;
				color: #fff;
				font-size: 16px;
				transition: all ease-in .3s;
			}
			.payForm__btn:hover {
				background: #049e01;
			}
        </style>
	{% endblock bodycontent %}

	{% block js %}
		<!--jQuery-->
		<script src="{% static 'jQuery/jquery.min.js' %}"></script>
		<script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
		<script src="{% static 'jQuery/jQuery.js' %}"></script>


		<!--/jQuery-->
		<!-- <script src="js/bundle.js"></script> -->
		<!--/javascript-->

		<!--    bundle js swiper-->
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script src="{% static 'js/bundle.js' %}"></script>
        <script src="{% static 'jQuery/jquery.min.js' %}"></script>
		<script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
		<script src="{% static 'jQuery/jQuery.js' %}"></script>

		<script src="{% static 'js/swiper.min.js' %}"></script>
		<!--/jQuery-->
		<script src="{% static 'js/main.js' %}"></script>
		<!--jQuery-->
	{% endblock js %}