{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

	{% block css %}
	<!-- icons-link -->
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style2.css' %}">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% endblock css %}

	{% block title %}
	  <title>{% trans 'Parolni tiklash yakunlandi' %}</title>
	{% endblock title %}

    {% block bodyreset %}

    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- end Navbar -->

    <div class="row justify-content-center" style="margin-bottom: 185px;">
        <div class="col-md-6">
            <div class="card card-body">

                <div class="content__body">
                    <h3 style="text-align: center;">{% trans "Parol o'zgartirildi" %}</h3>

                    <p>{% trans 'Hoziroq qayta kirishingiz mumkin' %}</p>
                    <a href="{% url 'login' %}">{% trans 'Kirish' %}</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock bodyreset %}

	{% block js %}
		<!--jQuery-->
		<script src="{% static 'jQuery/jquery.min.js' %}"></script>
		<script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
		<script src="{% static 'jQuery/jQuery.js' %}"></script>


		<!--/jQuery-->
		<!-- <script src="js/bundle.js"></script> -->
		<!--/javascript-->

		<!--    bundle js swiper-->
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script src="{% static 'js/bundle.js' %}"></script>
        <script src="{% static 'jQuery/jquery.min.js' %}"></script>
		<script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
		<script src="{% static 'jQuery/jQuery.js' %}"></script>

		<script src="{% static 'js/swiper.min.js' %}"></script>
		<!--/jQuery-->
		<script src="{% static 'js/main.js' %}"></script>
		<!--jQuery-->
	{% endblock js %}