{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}
{% block css %}
	<!-- icons-link -->
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style2.css' %}">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% endblock css %}

	{% block title %}
	  <title>{% trans 'Parolni tiklash' %}</title>
	{% endblock title %}

    {% block bodyreset %}

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-body">

                    <div class="content__body">
                        <h3 style="text-align: center;">{% trans 'Parolni qayta tiklang' %}</h3>
                        <p>{% trans "Agar siz kiritgan elektron pochta orqali hisob mavjud bo'lsa, parolni o'rnatish bo'yicha ko'rsatmalarni elektron pochta orqali jo'natdik. Tez orada ularni qabul qilishingiz kerak." %}</p>
                        <p>{% trans "Agar elektron pochta xabarini olmasangiz, ro'yxatdan o'tgan manzilingizni kiritganingizga ishonch hosil qiling va spam papkangizni tekshiring." %}</p>
                        <p>{% trans "Kirish uchun parolni qayta tiklaganingizdan so'ng qayta urinib ko'ring." %} <a href="{% url 'login' %}">{% trans 'Kirish' %}</a></p>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .content {
                height: 200px;
            }
        </style>

    {% endblock bodyreset %}