{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

	{% block css %}
	<!-- icons-link -->
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style2.css' %}">
		<!-- style-link -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% endblock css %}

	{% block title %}
	  <title>{% trans "Parolni o'zgartirish" %}</title>
	{% endblock title %}

	{% block bodyreset %}

		<section class="content">

			<!-- Navbar -->
			{% include 'includes/navbar.html' %}
			<!-- end Navbar -->

		</section>
        <div class="content__body">
				<h2 class="content__text--pay">
					{% trans 'Parolni almashtirish muvaffaqiyatli amalga oshirildi' %}
				</h2>

				<p style="color: green;">{% trans "Parolingiz o'zgardi" %}</p>
			</div>

		<style>
			.content__body {
				min-height: 15vh;
				max-width: calc(100% - 20vw);
				margin: 70px auto 20px;
			}


			.content__text--pay {
				font-family: Roboto;
				font-size: 20px;
				line-height: 124.9%;
				color: #0565BD;
                margin-bottom: 50px;
                text-align: center;
			}

			input {
				margin-bottom: 15px;
				background: #FFFFFF;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
				border-radius: 8px;
				font-size: 16px;
				width: 300px;
				padding: 12px 20px;
			}
			.payForm__btn {
				text-transform: uppercase;
				padding: 10px 35px;
				background: #05E600;
				box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
				border-radius: 86px;
				color: #fff;
				font-size: 16px;
				transition: all ease-in .3s;
			}
			.payForm__btn:hover {
				background: #049e01;
			}

		</style>
	{% endblock bodyreset %}

	{% block js %}
		<!--jQuery-->
		<script src="{% static 'jQuery/jquery.min.js' %}"></script>
		<script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
		<script src="{% static 'jQuery/jQuery.js' %}"></script>


		<!--/jQuery-->
		<!-- <script src="js/bundle.js"></script> -->
		<!--/javascript-->

		<!--    bundle js swiper-->
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script src="{% static 'js/bundle.js' %}"></script>
        <script src="{% static 'jQuery/jquery.min.js' %}"></script>
		<script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
		<script src="{% static 'jQuery/jQuery.js' %}"></script>

		<script src="{% static 'js/swiper.min.js' %}"></script>
		<!--/jQuery-->
		<script src="{% static 'js/main.js' %}"></script>
		<!--jQuery-->
	{% endblock js %}