{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
    <!-- icons-link -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- style-link -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <!-- style-link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block title %}
    <title>{% trans 'Parolni tiklash' %}</title>
{% endblock title %}

{% block bodycontent %}

    <section class="content">

        <!-- Navbar -->
        {% include 'includes/navbar.html' %}
        <!-- end Navbar -->

    </section>
    <div class="content__body">
        <p class="content__text--pay">
            {% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices volutpat mollis vel diam proin at diam.' %}<br>
            {% trans 'Lorem volutpat malesuada lobortis eget enim amet est id auctor.' %}

        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <input type="email" required placeholder="Emailingizni kiriting" class="payForm__input"><br> -->
            <button type="submit" class="payForm__btn">OK</button>
        </form>
    </div>

    <style>
        .content__body {
            min-height: 45vh;
            max-width: calc(100% - 20vw);
            margin: 70px auto 20px;
        }


        .content__text--pay {
            font-family: Roboto;
            font-size: 20px;
            line-height: 124.9%;
            color: #0565BD;
        }

        .payForm__input {
            margin: 80px 0px 50px 0px;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
            border-radius: 8px;
            font-size: 16px;
            width: 300px;
            padding: 12px 20px;
        }

        #id_email {
            margin: 80px 0px 50px 0px;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
            border-radius: 8px;
            font-size: 16px;
            width: 400px;
            padding: 12px 20px;
        }

        .payForm__btn {
            text-transform: uppercase;
            padding: 10px 35px;
            background: #05E600;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
            border-radius: 86px;
            color: #fff;
            font-size: 16px;
            transition: all ease-in .3s;
        }

        .payForm__btn:hover {
            background: #049e01;
        }

    </style>
{% endblock bodycontent %}

{% block js %}
    <!--jQuery-->
    <script src="{% static 'jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
    <script src="{% static 'jQuery/jQuery.js' %}"></script>


    <!--/jQuery-->
    <!-- <script src="js/bundle.js"></script> -->
    <!--/javascript-->

    <!--    bundle js swiper-->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'jQuery/lips/owlcarousel2/owl.carousel.min.js' %}"></script>
    <script src="{% static 'jQuery/jQuery.js' %}"></script>

    <script src="{% static 'js/swiper.min.js' %}"></script>
    <!--/jQuery-->
    <script src="{% static 'js/main.js' %}"></script>
    <!--jQuery-->
{% endblock js %}


{% comment %}
{% block bodyreset %}
<section class="container pt-5 pb-5" style="min-height: 80vh;">
	<span class="pl-5"><i class="fa fa-info-circle text-primary pr-1"></i>Пожалуйста, введите логин учетной записи, чтобы получить свой пароль.</span>
	<form class="w-50 m-auto pt-3" method="post" action="">
		<div class="form-group">
			<label for="">Адрес электронной почты</label>
			{% csrf_token %} {{ form.as_p }}
			<!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Адрес электронной почты"> -->
			<small id="emailHelp" class="form-text text-muted">Мы никогда никому не передадим вашу электронную почту.</small>
		</div>
		<button type="submit" class="btn passwordreset_submit_bnt">Отправить ссылку для подтверждения</button>
	</form>
</section>
{% endblock bodyreset %}
{% endcomment %}