{% load static %}
{% load i18n %}

<header class="header">
    <div class="header__body">
        <a href="{% url 'Core:main-view' %}" class="header__logo"><img src="{% static 'img/logoii.png' %}"
                                                                       alt="logo"></a>
        <div class="header__messengers">
            <a class="header__email" ef="email:abbos@gmail.com"><img
                    src="{% static 'img/icon\'s/email.svg' %}" alt="email icon"> dovurovjamshid95@gmail.com</a>
            <a href=" #"><img src="{% static 'img/icon\'s/instagram.svg' %}" alt="instagram icon"></a>
            <a href=" #"><img src="{% static 'img/icon\'s/youtube.svg' %}" alt="youtube icon"></a>
            <a href=" #"><img src="{% static 'img/icon\'s/telegram.svg' %}" alt="telegram icon"></a>
            <a href=" #"><img src="{% static 'img/icon\'s/facebook.svg' %}" alt="facebook icon"></a>
        </div>
        <div class=" header__signin">
                <img src="{% static 'img/icon\'s/bar-chart.svg' %}" alt="bar-chart icon">
            <p class=" header__paragraph" id="Download_counted"></p>
                {% if request.user.is_authenticated %}
                    <p class="header__registration">Hi {{ request.user.first_name }}</p>
                    <a href="{% url 'logout' %}?next={{ request.path }}" class="header__registration">{% trans 'Logout' %}</a>
                {% else %}
                    <a href="{% url 'User:register' %}" class="header__registration">{% trans "Sign Up" %}</a>
                    <a href="{% url 'login' %}?next={{ request.path }}" class="header__registration">{% trans 'Login' %}</a>
                {% endif %}
                <a href="{% url 'Core:card-view' %}" class="header__shopcard">
                    <img src="{% static 'img/icon\'s/Group.svg' %}" alt="shoping card">
            </a>
        </div>
        <div class=" header__language">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
{#                        <input type="text" type="hidden" value="{{ redirect_to }}">#}
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go" class="go__btn" 
                            style="background-color: #0080f7; color: #fff;outline: none;border-radius: 7px;padding: 11.2px; cursor: pointer;"
                        >
                     
                    </form>
        </div>
        <!-- burger -->
        <div class="navbar__burger h">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>