{% load i18n %}
<div class="content__navbar" style='background-color: rgb(82, 82, 83)'>
    <ul class="content__navbar--list" >
        <li><a href="{% url 'Core:main-view' %}" style="color: orange;">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'Core:all-lessons' %}" style="color: orange;">{% trans 'All Lessons' %}</a></li>
        <li><a href="{% url 'Core:aksiya-view' %}" style="color: orange;">{% trans 'Discount' %}</a></li>
        <li><a href="{% url 'Core:free-detail-view' %}" style="color: orange;">{% trans 'Free Lessons' %}</a></li>
        <li><a href="{% url 'Core:about-view' %}" style="color: orange;">{% trans 'About Us' %}</a></li>
        <li><a href="{% url 'Core:contact-view' %}" style="color: orange;">{% trans 'Contact' %}</a></li>
    </ul>
</div>


